<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-is-default-keyboard"
        version="1.0">

    <name>Is Default Keyboard</name>
    <description>
        Cordova plugin that provides JS API to check if custom keyboard is used on Android as well
        as blocking application if custom keyboard is detected on iOS
    </description>
    <license>MIT</license>

    <js-module name="DefaultKeyboard" src="www/default-keyboard.js">
        <clobbers target="DefaultKeyboard"/>
    </js-module>

    <!-- Android Configuration -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DefaultKeyboard">
                <param name="android-package" value="defaultkeyboard.DefaultKeyboard"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/defaultkeyboard/DefaultKeyboard.java" target-dir="src/defaultkeyboard" />
    </platform>

    <!-- iOS Configuration -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="DefaultKeyboard">
                <param name="ios-package" value="DefaultKeyboard" />
            </feature>
        </config-file>
        <source-file src="src/ios/DefaultKeyboard.m" />
    </platform>

</plugin>
